Source: gazebo4
Standards-Version: 3.9.5
Maintainer: Nate Koenig <nate@osrfoundation.org>
Section: science
Priority: extra
Build-Depends: cmake,
     debhelper (>= 9),
     bash-completion,
     doxygen,
     doxygen-latex,
     texlive-fonts-recommended,
     libfreeimage-dev,
     libprotoc-dev,
     libprotobuf-dev,
     protobuf-compiler,
     freeglut3-dev,
     libcurl4-openssl-dev,
     libtinyxml-dev,
     libtar-dev (>= 1.2.20-3ubuntu0.1),
     libtbb-dev,
     libogre-1.8-dev,
     libxml2-dev,
     pkg-config,
     libqt4-dev,
     libltdl-dev,
     libboost1.54-dev (>= 1.54.0-4ubuntu3.1), 
     libboost-thread-dev (>= 1.54.0-4ubuntu3.1),
     libboost-signals-dev (>= 1.54.0-4ubuntu3.1),
     libboost-system-dev (>= 1.54.0-4ubuntu3.1),
     libboost-filesystem-dev (>= 1.54.0-4ubuntu3.1),
     libboost-program-options-dev (>= 1.54.0-4ubuntu3.1),
     libboost-regex-dev (>= 1.54.0-4ubuntu3.1),
     libboost-iostreams-dev (>= 1.54.0-4ubuntu3.1),
     robot-player-dev,
     libcegui-mk2-dev,
     libavformat-dev,
     libavcodec-dev,
     libswscale-dev,
     libusb-1.0-0-dev,
     libsdformat2-dev (>= 2.0.1),
     libsimbody-dev (>= 3.0.0),
     libsimbody-dev (<< 4.0.0),
     libbullet2.82-dev,
     ruby-ronn
Vcs-Browser: https://bitbucket.org/osrf/gazebo4-release
Vcs-Hg: https://bitbucket.org/osrf/gazebo4-release
Homepage: http://gazebosim.org

Package: gazebo4-common
Architecture: all
Depends: ttf-dejavu-core, ${misc:Depends}
Multi-Arch: foreign
Conflicts: gazebo3-common,
           gazebo4-common-prerelease, 
           gazebo4-common-nightly
Description: Open Source Robotics Simulator - Shared files
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains shared files such as 3d models, worlds and
 robots.

Package: gazebo4
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
	     libgazebo4 (= ${binary:Version}),
	     gazebo4-common (= ${source:Version})
Recommends: gazebo4-plugin-base
Suggests: gazebo4-doc
Multi-Arch: foreign
Conflicts: gazebo,
           gazebo2,
           gazebo-current,
           gazebo3-prerelease,
           gazebo3-nightly,
           gazebo4-prerelease,
           gazebo4-nightly
Description: Open Source Robotics Simulator
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).

Package: libgazebo4
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Conflicts: gazebo,
           gazebo-current,
           libgazebo3-prerelease, 
           libgazebo3-nightly,
           libgazebo4-prerelease, 
           libgazebo4-nightly
Description: Open Source Robotics Simulator - shared library
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package gathers shared libraries used

Package: libgazebo4-dev
Architecture: any
Section: libdevel
Depends: libtbb-dev,
	 libxml2-dev,
	 libqt4-dev,
	 libprotoc-dev,
	 libfreeimage-dev,
	 libprotobuf-dev,
	 libboost-all-dev,
	 freeglut3-dev,
	 libogre-1.8-dev,
     libtar-dev (>= 1.2.20-3ubuntu0.1),
	 libcurl4-openssl-dev,
	 libcegui-mk2-dev,
	 libgts-dev,
     libusb-1.0-0-dev,
	 libsdformat2-dev | libsdformat-dev (>= 2.0.0),
	 libsdformat2-dev | libsdformat-dev (<< 3.0.0),
	 robot-player-dev,
	 libavformat-dev,
	 libavcodec-dev,
	 libswscale-dev,
     libsimbody-dev (>= 3.0.0),
     libsimbody-dev (<< 4.0.0),
     libbullet2.82-dev,
	 libgazebo4 (= ${binary:Version}),
	 gazebo4-common (= ${source:Version}),
	 gazebo4-plugin-base (= ${source:Version}),
	 ${misc:Depends}
Multi-Arch: same
Conflicts: libgazebo-dev,
           libgazebo-dev-prerelease,
           libgazebo4-dev-prerelease,
           libgazebo-dev-nightly
Description: Open Source Robotics Simulator - Development Files
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains development files (headers, shared library
 symbolic link and pkg-config file).

Package: gazebo4-plugin-base
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
	 gazebo4 (= ${binary:Version})
Enhances: gazebo4
Multi-Arch: foreign
Conflicts: gazebo3-plugins-base-prerelease,
           gazebo3-plugins-nightly,
           gazebo4-plugins-base-prerelease,
           gazebo4-plugins-nightly
Description: Open Source Robotics Simulator - base plug-ins
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package gathers built-in plugins.

Package: gazebo4-dbg
Architecture: any
Section: debug
Depends: gazebo4 (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: foreign
Description: Open Source Robotics Simulator - Debugging Symbols
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains the debugging symbols.

Package: gazebo4-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Multi-Arch: foreign
Conflicts: gazebo3-doc-prerelease,
           gazebo3-doc-nightly,
           gazebo4-doc-prerelease,
Description: Open Source Robotics Simulator - Documentation
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains the program documentation.
