Source: gazebo3-prerelease
Standards-Version: 3.9.5
Maintainer: Nate Koenig <nate@osrfoundation.org>
Section: science
Priority: extra
Build-Depends: cmake,
     debhelper (>= 9),
     doxygen,
     doxygen-latex,
     texlive-fonts-recommended,
     libfreeimage-dev,
     libprotoc-dev,
     libprotobuf-dev,
     protobuf-compiler,
     freeglut3-dev,
     libcurl4-openssl-dev,
     libtinyxml-dev,
     libtar-dev,
     libtbb-dev,
     libogre-dev,
     libxml2-dev,
     pkg-config,
     libqt4-dev,
     libltdl-dev,
     libboost-thread-dev,
     libboost-signals-dev,
     libboost-system-dev,
     libboost-filesystem-dev,
     libboost-program-options-dev,
     libboost-regex-dev,
     libboost-iostreams-dev,
     robot-player-dev,
     libcegui-mk2-dev,
     libavformat-dev,
     libavcodec-dev,
     libswscale-dev,
     libsdformat-dev-prerelease (>= 2.0.0~)
Vcs-Browser: https://bitbucket.org/osrf/gazebo3-release
Vcs-Hg: https://bitbucket.org/osrf/gazebo3-release
Homepage: http://gazebosim.org

Package: gazebo3-prerelease-common
Architecture: all
Depends: ttf-dejavu-core, ${misc:Depends}
Multi-Arch: foreign
Conflicts: gazebo3-common, 
           gazebo3-common-nightly
Description: Open Source Robotics Simulator - Shared files
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains shared files such as 3d models, worlds and
 robots.

Package: gazebo3-prerelease
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
	 libgazebo3-prerelease (= ${binary:Version}),
	 gazebo3-common-prerelease (= ${source:Version})
Suggests: gazebo3-doc-prerelease
Multi-Arch: foreign
Conflicts: gazebo,
           gazebo-current,
           gazebo3,
           gazebo3-nightly,
Description: Open Source Robotics Simulator
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).

Package: libgazebo3-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Conflicts: gazebo,
           gazebo-current,
           libgazebo3, 
           libgazebo3-nightly
Description: Open Source Robotics Simulator - shared library
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package gathers shared libraries used

Package: libgazebo-dev-prerelease
Architecture: any
Section: libdevel
Depends: libtbb-dev,
	 libxml2-dev,
	 libqt4-dev,
	 libprotoc-dev,
	 libfreeimage-dev,
	 libprotobuf-dev,
	 libboost-all-dev,
	 freeglut3-dev,
	 libogre-1.8-dev,
	 libtar-dev,
	 libcurl4-openssl-dev,
	 libcegui-mk2-dev,
	 libgts-dev,
	 libode-dev,
	 libsdformat-dev-prerelease,
	 libgazebo3-prerelease (= ${binary:Version}),
	 gazebo-common-prerelease (= ${source:Version}),
	 ${misc:Depends}
Multi-Arch: same
Conflicts: libgazebo-dev, libgazebo-dev-nightly
Description: Open Source Robotics Simulator - Development Files
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains development files (headers, shared library
 symbolic link and pkg-config file).

Package: gazebo3-plugin-base-prerelease
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
	 gazebo3-prerelease (= ${binary:Version})
Enhances: gazebo3-prerelease
Multi-Arch: foreign
Conflicts: gazebo3-plugins-base, gazebo3-plugins-nightly
Description: Open Source Robotics Simulator - base plug-ins
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package gathers built-in plugins.

Package: gazebo3-dbg-prerelease
Architecture: any
Section: debug
Depends: gazebo3-prerelease (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: foreign
Conflicts: gazebo3-dbg, gazebo3-dbg-nightly
Description: Open Source Robotics Simulator - Debugging Symbols
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains the debugging symbols.

Package: gazebo3-doc-prerelease
Architecture: all
Section: doc
Depends: ${misc:Depends}
Multi-Arch: foreign
Conflicts: gazebo3-doc, gazebo3-doc-nightly
Description: Open Source Robotics Simulator - Documentation
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains the program documentation.
